.login {
  color: rgb(78, 127, 233);
  text-align: center;
}

.example-form {
  min-width: 150px;
  max-width: 650px;
  width: 50%;
  padding-left: 28%;
}

.example-full-width {
  width: 80%;
}

.form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  text-align: center;
/*  margin:null;
*/  width: 45%;
/*  margin-inline-start: auto;
*/  align-items: center;
  padding-top: 7%;
  table-layout: auto;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
}

.head {
  padding-left: 30%;
}
